<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lamas.testdataxml">

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".initial_tests.Configuration2"
            android:label="@string/title_activity_configuration2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".initial_tests.Configuration3"
            android:label="@string/title_activity_configuration3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".initial_tests.Configuration4"
            android:label="@string/title_activity_configuration4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".initial_tests.Configuration5"
            android:label="@string/title_activity_configuration5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".initial_tests.Configuration1"
            android:label="@string/title_activity_configuration1"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activite_test"
            android:label="@string/title_activity_activite_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".list_activities.ParcoursActivity"
            android:label="ParcoursActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lamas.testdataxml.Activite_test" />
        </activity>
        <activity
            android:name=".list_activities.LieuxActivity"
            android:label="LieuxActivity"
            android:parentActivityName=".list_activities.ParcoursActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".list_activities.ParcoursActivity" />
        </activity>
        <activity
            android:name=".list_activities.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName=".list_activities.LieuxActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".list_activities.LieuxActivity" />
        </activity>
    </application>

</manifest>
